.NavigationItem{
    margin:5px 15px 10px 0;
    box-sizing: border-box;
    display: block;    
    width: 100%;
    text-decoration: none;
    box-sizing: border-box;
}
.NavigationItem a{
    text-decoration: none;
    color: rgb(201, 201, 201);
}
.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active{
    color: rgb(255, 248, 248);
}
/* @media(min-width:500px){
    .NavigationItem{
        margin:0;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        width: auto;
        height: 100%;
    }
    .NavigationItem a{
        color: rgb(233, 231, 230);
        text-decoration: none;
        height: 100%;
        padding: 16px 10px;
    border-bottom: 4px solid transparent;
        box-sizing: border-box;
        display: block;
    
    }
    .NavigationItem a:hover,
    .NavigationItem a:active,
    .NavigationItem a.active{
        background-color: orange;
    border-bottom: 4px solid blue;
    color: aliceblue;
    }
} */