p{
    margin-top: 0px;
    margin-bottom: 5px;
    background-color: white;
    padding: 0px;
}
.contact{
    margin-top: 2px;
    border: 2px solid gray;
    margin-left: 100px;
    margin-right: 100px;
}

.contact p{
    background-color: white;
}
p a{
    text-decoration: none;
    color: rgb(61, 60, 60);
}
a:hover,
a:active{
    color: rgb(7, 7, 7);
}